/* Genel Sayfa Ayarları */
body {
    background-color: #ffffff; /* Sayfa arka plan rengi */
    background: linear-gradient(to bottom right, #e2e2e2, #adbffc);
}
.navbar-brand {
    background-color: rgb(124, 147, 250);
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    color: #ffffff; /* Navbar başlık rengi */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    width: 245px;
    max-width: 100%;
    
    
}
/* Navbar */
.navbar {
    border-bottom: 6px solid #000000; /* Navbar alt sınır rengi */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    color: #000000;
    
    
    
    
}




.navbar-brand:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    color:  #4756aa; /* Hover efekti */
}

.navbar-nav .nav-link {
    background-color: rgb(124, 147, 250);
    font-weight: bold;
    text-align: center;
    color: #ffffff; /* Navbar başlık rengi */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    border-radius: 30px;
    
    max-width: 100%;
}

.navbar-nav .nav-link:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    color:  #4756aa; /* Hover efekti */
}

/* Gönderi ve Yorumlar */
.post {
    border: 1px solid #000000; /* Gönderi kenar rengi */
    border-radius: 5px; /* Köşe yuvarlama */
    padding: 15px; /* İç boşluk */
    margin-bottom: 10px; /* Alt boşluk */
    background-color: #ffffff; /* Gönderi arka plan rengi */
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}

.avatar {
    width: 2rem;
    height: 2rem; /* Profil resmi boyutu */
    border-radius: 50%; /* Yuvarlak profil fotoğrafı */
}

.comment-box, .form-control {
    resize: none; /* Yorum kutusu ve form alanlarında yeniden boyutlandırmayı devre dışı bırak */
}

.btn-secondary {
    height: 38px; /* Yükseklik */
    width: 100%; /* Yorum butonunu tam genişlik yap */
}

#comments .d-flex {
    align-items: center;
}

.comment-form {
    max-width: 500px; /* Yorum formu genişliği */
}

/* Gölgelendirme ve Mesafeler */
.btn-spacing {
    margin-right: 20px; /* Like ve Comment butonları arası boşluk */
<<<<<<< HEAD
}
=======
}
>>>>>>> dogukan
