@model List<Post>

 <div class="container mt-4">
        <h1 class="mb-4">What's happening?</h1>
        
        <!-- Post kaydetme formu -->
        <div class="mb-4">
            <textarea class="form-control" rows="3" placeholder="Share your thoughts..."></textarea>
            <button class="btn btn-primary mt-2">Tweet</button>
        </div>

        <h2 class="mb-3">Recent Tweets</h2>
        
        <!-- Tweet -->
        @foreach(var post in Model){
        <div class="post">
            <h5>User1</h5>
            <p>@post.Content</p>
            <small class="text-muted">@post.PublishedOn</small>
        </div>
        }
    </div>
    

